**Data Collection and Preparation**

**Importing all neccessary libraries**

In [3]:
import pandas as pd
import requests
import yfinance as yf
import nasdaqdatalink
import quandl

**Getting data about Bitcoin from Lunar API**

In [ ]:
# Requesting the Bitcoin Data from Lunar and putting into CSV file: 
# (Date Range: 12th June 2020 - 8th March 2023)

# url = "https://lunarcrush.com/api3/coins/1/time-series?interval=all&start=%091591912800&bucket=day&data_points=1000"
# headers = {
#   'Authorization': 'Bearer czafphn2g5ln3tzinz5qd6bkxlf2f0y70cun8xs2r'

# response = requests.request("GET", url, headers=headers)
# response

# print(response.text.encode('utf8'))

# call = response.text.encode('utf8')

# response.content

# data1 = response.json()

# data1["timeSeries"]

# df = pd.json_normalize(data1["timeSeries"])

# df.to_csv('BitcoinLunarData', index=False)

In [40]:
df_luna = pd.read_csv('./data/BitcoinLunarData.csv')
df_luna.head()

,asset_id,time,open,close,high,low,volume,volume_24h,market_cap,circulating_supply,...,influential_content,influential_content_score,sma_50,sma_100,sma_200,social_volume,social_volume_global,social_dominance,market_cap_global,market_dominance
0,1,1591920000,9320.690855,9480.843789,9540.465393,9285.851404,2.980465e+10,2.261056e+10,1.744749e+11,18402731,...,NaN,NaN,9189.861282,7983.907717,8180.363379,128228,264995,48.388838,2.879446e+11,60.593227
1,1,1592006400,9480.735750,9475.277338,9493.211715,9396.009394,2.305366e+10,1.756432e+10,1.743818e+11,18403818,...,NaN,NaN,9228.348808,7987.872862,8191.647909,119013,243804,48.815032,2.891715e+11,60.303947
2,1,1592092800,9477.554037,9386.787892,9482.270936,9347.593793,2.274307e+10,1.899173e+10,1.727632e+11,18404243,...,NaN,NaN,9264.685845,7990.515285,8200.923530,113812,225466,50.478564,2.843811e+11,60.750615
3,1,1592179200,9386.035291,9450.701987,9504.860065,8990.175947,3.664421e+10,2.669970e+10,1.739476e+11,18404950,...,NaN,NaN,9300.102541,7995.922769,8210.861509,129981,247403,52.538166,2.833964e+11,61.379608
4,1,1592265600,9454.266431,9538.024374,9579.430375,9400.445008,2.862811e+10,2.156554e+10,1.755640e+11,18405843,...,NaN,NaN,9334.951012,8010.221850,8219.745413,124018,263058,47.144736,2.881761e+11,60.922456

In [ ]:
#12th June 2020 - September 16th 2017

# url = "https://lunarcrush.com/api3/coins/1/time-series?interval=1d&start=%091505512800&bucket=day&data_points=1000"
# headers = {
#   'Authorization': 'Bearer czafphn2g5ln3tzinz5qd6bkxlf2f0y70cun8xs2r'
# }

# response2 = requests.request("GET", url, headers=headers)

# print(response2.text.encode('utf8'))

# print(response2.text.encode('utf8'))

# call2 = response2.text.encode('utf8')

# response2.content

# data2 = response2.json()

# data2["timeSeries"]

# df2 = pd.json_normalize(data2["timeSeries"])

# df2.to_csv('BitcoinLunarData2', index=False)

In [7]:
df2_luna = pd.read_csv('./data/BitcoinLunarData2.csv')
df2_luna.head()

,asset_id,time,open,close,high,low,volume,volume_24h,market_cap,circulating_supply,...,influential_content,influential_content_score,sma_50,sma_100,sma_200,social_volume,market_cap_global,market_dominance,social_volume_global,social_dominance
0,1,1505520000,3637.75,3637.750000,3808.84,3487.79,2.119428e+09,1.818400e+09,6.027929e+10,16570450,...,NaN,NaN,3896.999995,3227.311801,2360.776849,NaN,NaN,NaN,NaN,NaN
1,1,1505606400,3606.28,3606.280029,3664.81,3445.64,1.285886e+09,1.239150e+09,5.976580e+10,16572662,...,NaN,NaN,3912.985195,3235.300201,2372.908049,NaN,NaN,NaN,NaN,NaN
2,1,1505692800,3591.09,3591.090088,4079.23,3591.09,2.133420e+09,1.943210e+09,5.951989e+10,16574262,...,NaN,NaN,3930.319199,3242.929703,2384.740099,NaN,NaN,NaN,NaN,NaN
3,1,1505779200,4073.79,4073.790039,4094.07,3868.87,1.718896e+09,1.563980e+09,6.752806e+10,16576225,...,NaN,NaN,3956.530200,3254.243505,2398.855500,NaN,NaN,NaN,NaN,NaN
4,1,1505865600,3916.36,3916.360107,4031.39,3857.73,1.250133e+09,1.213830e+09,6.492439e+10,16577725,...,NaN,NaN,3977.431401,3263.874906,2412.050150,NaN,NaN,NaN,NaN,NaN

In [8]:
#Finding the point where tweets has NaN values
num_nan_tweets = df2_luna['tweets'].isnull().sum()
num_nan_tweets

712

In [9]:
#Dropping rows beyond which there are no tweet data
df2dropped_luna = df2_luna.drop(index=df2_luna.index[:712])
df2dropped_luna

,asset_id,time,open,close,high,low,volume,volume_24h,market_cap,circulating_supply,...,influential_content,influential_content_score,sma_50,sma_100,sma_200,social_volume,market_cap_global,market_dominance,social_volume_global,social_dominance
712,1,1567036800,9756.785707,9510.200544,9756.785707,9421.630160,1.544143e+10,1.704588e+10,1.702749e+11,17902412,...,NaN,NaN,10524.912498,10072.925364,7489.222465,37547.0,2.455443e+11,69.345902,111697.0,33.615048
713,1,1567123200,9514.844852,9598.173648,9656.123926,9428.302397,1.208824e+10,1.359526e+10,1.718692e+11,17904475,...,NaN,NaN,10489.702736,10092.106435,7518.971180,35423.0,2.486567e+11,69.119069,108047.0,32.784807
714,1,1567209600,9597.539448,9630.663848,9673.220440,9531.799839,9.854216e+09,1.145481e+10,1.724707e+11,17906475,...,NaN,NaN,10445.996280,10109.594606,7548.856856,29815.0,2.488274e+11,69.313417,87587.0,34.040440
715,1,1567296000,9630.593196,9757.970318,9796.755968,9582.944631,9.730741e+09,1.144536e+10,1.747683e+11,17908500,...,NaN,NaN,10413.308099,10127.300594,7579.486355,32691.0,2.511694e+11,69.581853,91851.0,35.591338
716,1,1567382400,9757.473237,10346.760793,10396.591325,9730.650717,1.499891e+10,1.724810e+10,1.853331e+11,17910337,...,NaN,NaN,10415.122150,10150.242763,7613.135754,38936.0,2.642592e+11,70.133082,105847.0,36.785171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1,1591488000,9653.003325,9758.852417,9768.497902,9458.150470,2.847020e+10,2.501525e+10,1.795403e+11,18396725,...,NaN,NaN,8935.035880,7937.255278,8121.819708,105478.0,2.949633e+11,60.868674,205321.0,51.372242
996,1,1591574400,9760.063252,9771.489484,9782.306497,9675.885907,2.463927e+10,2.148635e+10,1.797826e+11,18398300,...,NaN,NaN,8986.677173,7948.975087,8132.463406,120827.0,2.987718e+11,60.173882,246334.0,49.050070
997,1,1591660800,9774.359936,9795.700195,9836.368969,9664.720133,2.734175e+10,2.371784e+10,1.802378e+11,18399643,...,NaN,NaN,9044.952003,7961.307548,8144.959019,129714.0,2.979406e+11,60.494541,250787.0,51.722777
998,1,1591747200,9794.119511,9870.094453,9908.896559,9728.291140,2.988509e+10,2.570657e+10,1.816168e+11,18399812,...,NaN,NaN,9104.747423,7971.311789,8157.320507,137870.0,3.006364e+11,60.410780,289455.0,47.630893
999,1,1591833600,9870.078529,9321.781298,9938.297674,9263.069588,3.933093e+10,3.024714e+10,1.715381e+11,18401856,...,NaN,NaN,9148.838899,7976.651738,8168.689829,140929.0,2.826087e+11,60.698098,277611.0,50.764919

In [32]:
#Merging the older and more recent dataframes
merged_df = pd.concat([df2dropped_luna, df_luna], ignore_index=True)

#Creating a dattime column by converting the UNIX time format
merged_df['date'] = pd.to_datetime(merged_df['time'], unit='s')

#Creating a Day of the Month column 
merged_df['Day of Month'] = merged_df['date'].dt.day

#Creating a month column 
merged_df['month'] = merged_df['date'].dt.month

#Creating a % change column
merged_df['Daily % Change'] = merged_df['close'].pct_change() * 100

#Dropping Asset id column 
merged_df.drop('asset_id', axis=1, inplace=True)

#Indexing to date
merged_df.set_index('date', inplace=True)

#Exporting to CSV
merged_df.to_csv('./data/lunarmerged_df.csv', index=True)

In [33]:
lunarmerged_df = pd.read_csv('./data/lunarmerged_df.csv')

**Getting other financial data from YFinance to be used as features**

In [100]:
#Getting Data from Yfinance

# Set the start and end dates
start_date = '2019-08-29'
end_date = '2023-03-08'

# Get the S&P 500 daily performance data
sp500_df = yf.download('^GSPC', start=start_date, end=end_date, progress=False)
sp500_daily_performance = (sp500_df['Close'] - sp500_df['Open']) / sp500_df['Open'] * 100

# Get the NASDAQ 100 daily performance data
nasdaq100_df = yf.download('^NDX', start=start_date, end=end_date, progress=False)
nasdaq100_daily_performance = (nasdaq100_df['Close'] - nasdaq100_df['Open']) / nasdaq100_df['Open'] * 100

# Get the treasury bond rate data
treasury_bond_rates_df = yf.download('^TNX', start=start_date, end=end_date, progress=False)
treasury_5yr_bond_rate = treasury_bond_rates_df['Close'].resample('D').last().ffill()
treasury_10yr_bond_rate = treasury_bond_rates_df['Close'].resample('D').last().ffill()
treasury_30yr_bond_rate = treasury_bond_rates_df['Close'].resample('D').last().ffill()

# Get the 1-year treasury bond rate data
treasury_1yr_bond_rates_df = yf.download('^IRX', start=start_date, end=end_date, progress=False)
treasury_1yr_bond_rate = treasury_1yr_bond_rates_df['Close'].resample('D').last().ffill()

# Get the bitcoin futures data
bitcoin_futures_df = yf.download('BTC=F', start=start_date, end=end_date, progress=False)
bitcoin_futures_volume = bitcoin_futures_df['Volume']
bitcoin_futures_daily_returns = (bitcoin_futures_df['Close'] - bitcoin_futures_df['Open']) / bitcoin_futures_df['Open'] * 100
bitcoin_futures_volatility = bitcoin_futures_daily_returns.std()

# Combine the data into a single DataFrame
data = {'S&P 500 Daily Performance': sp500_daily_performance,
        'NASDAQ 100 Daily Performance': nasdaq100_daily_performance,
        '1-Year Treasury Bond Rate': treasury_1yr_bond_rate,
        '5-Year Treasury Bond Rate': treasury_5yr_bond_rate,
        '10-Year Treasury Bond Rate': treasury_10yr_bond_rate, 
        '30-Year Treasury Bond Rate': treasury_30yr_bond_rate,
        'Bitcoin Futures Volume' : bitcoin_futures_volume, 
        'Bitcoin Futures Returns' : bitcoin_futures_daily_returns,
        'Bitcoin Futures Volatility': bitcoin_futures_volatility}

yfinance_data = pd.DataFrame(data)

In [ ]:
#Dropping Volatility column 
yfinance_data.drop(columns=['Bitcoin Futures Volatility'], inplace=True)

In [19]:
#Exporting to CSV
yfinance_data.to_csv('./data/yfinance_data.csv', index=True)

In [20]:
#Loading from CSV
yfinance_data = pd.read_csv('./data/yfinance_data.csv')

**Preliminary cleaning and joining YFinance with Lunar data**

In [45]:
#Merging y_finance data with lunar crush data
# Merge the two DataFrames based on their common date index
merged_df = lunarmerged_df.merge(yfinance_data, left_index=True, right_index=True)

            date        time          open         close          high  \
0     2019-08-29  1567036800   9756.785707   9510.200544   9756.785707
1     2019-08-30  1567123200   9514.844852   9598.173648   9656.123926
2     2019-08-31  1567209600   9597.539448   9630.663848   9673.220440
3     2019-09-01  1567296000   9630.593196   9757.970318   9796.755968
4     2019-09-02  1567382400   9757.473237  10346.760793  10396.591325
...          ...         ...           ...           ...           ...
1282  2023-03-03  1677801600  23476.633731  22362.679332  23479.348094
1283  2023-03-04  1677888000  22362.923027  22353.350074  22405.176954
1284  2023-03-05  1677974400  22354.143598  22435.514197  22613.685231
1285  2023-03-06  1678060800  22436.816776  22429.757533  22584.293809
1286  2023-03-07  1678147200  22428.322390  22219.769071  22527.418642

               low        volume    volume_24h    market_cap  \
0      9421.630160  1.544143e+10  1.704588e+10  1.702749e+11
1      9428.302397  1.208824e+10  1.359526e+10  1.718692e+11
2      9531.799839  9.854216e+09  1.145481e+10  1.724707e+11
3      9582.944631  9.730741e+09  1.144536e+10  1.747683e+11
4      9730.650717  1.499891e+10  1.724810e+10  1.853331e+11
...            ...           ...           ...           ...
1282  22213.237594           NaN  2.606240e+10  4.317655e+11
1283  22198.981009           NaN  1.116601e+10  4.316073e+11
1284  22307.143313           NaN  1.331700e+10  4.332162e+11
1285  22331.314828           NaN  1.735319e+10  4.331225e+11
1286  22011.262497           NaN  2.276545e+10  4.290907e+11

      circulating_supply  url_shares  unique_url_shares  reddit_posts  \
0               17902412        80.0               80.0         240.0
1               17904475        68.0               68.0         211.0
2               17906475        56.0               56.0         158.0
3               17908500        56.0               56.0         150.0
4               17910337        87.0               87.0         206.0
...                  ...         ...                ...           ...
1282            19307468     66522.0             6521.0         943.0
1283            19308443     52255.0             4509.0         847.0
1284            19309437     41091.0             4141.0         716.0
1285            19310231     54697.0             6679.0        1105.0
1286            19311281     59540.0             6450.0         941.0

      reddit_posts_score  reddit_comments  reddit_comments_score    tweets  \
0                 6980.0           1032.0                 4684.0   35865.0
1                 6366.0           1020.0                 4781.0   33808.0
2                 4306.0            828.0                 3623.0   28603.0
3                 5465.0            742.0                 3347.0   31736.0
4                 6785.0           1066.0                 5620.0   37310.0
...                  ...              ...                    ...       ...
1282              3995.0           2936.0                 6938.0  328435.0
1283              3405.0           2308.0                 5591.0  267079.0
1284              6987.0           2513.0                 6434.0  268189.0
1285              4810.0           2847.0                10706.0  359141.0
1286              3944.0           2651.0                 7502.0  344943.0

      tweet_spam  tweet_followers  tweet_quotes  tweet_retweets  \
0         3580.0              NaN           NaN             NaN
1         3350.0              NaN           NaN             NaN
2         3551.0              NaN           NaN             NaN
3         3664.0              NaN           NaN             NaN
4         4161.0              NaN           NaN             NaN
...          ...              ...           ...             ...
1282    179909.0     1.413800e+09        4411.0         78825.0
1283    155619.0     9.264580e+08        3878.0         64823.0
1284    174436.0     8.751753e+08       21741.0         59450.0
1285    222373.0     1.197015e+09       13853.0         90663.0
1286    180947.0     1.374308e+09        4797.0         79405.0

      tweet_replies  tweet_favorites  tweet_sentiment1  tweet_sentiment2  \
0               NaN              NaN            1603.0            3430.0
1               NaN              NaN            1501.0            3083.0
2               NaN              NaN            1147.0            2165.0
3               NaN              NaN            1176.0            2528.0
4               NaN              NaN            1742.0            3207.0
...             ...              ...               ...               ...
1282        65464.0         298232.0             833.0           12053.0
1283        36844.0         206599.0             498.0            9913.0
1284        36262.0         224585.0             450.0            9059.0
1285        48067.0         300224.0             510.0           11580.0
1286        46217.0         261429.0             507.0           11814.0

      tweet_sentiment3  tweet_sentiment4  tweet_sentiment5  \
0               6559.0           18886.0            1807.0
1               6082.0           18090.0            1702.0
2               5504.0           14760.0            1476.0
3               5694.0           17046.0            1628.0
4               6477.0           19967.0            1756.0
...                ...               ...               ...
1282          126045.0          186374.0            3130.0
1283          120831.0          133465.0            2372.0
1284          124496.0          131222.0            2962.0
1285          150406.0          193006.0            3638.0
1286          137035.0          192830.0            2757.0

      tweet_sentiment_impact1  tweet_sentiment_impact2  \
0                   8651361.0               22634384.0
1                  23926344.0               28730015.0
2                  33382004.0               38082040.0
3                   9017973.0               20622075.0
4                  35499592.0               28099972.0
...                       ...                      ...
1282                8738540.0              101842261.0
1283                7304761.0               81552672.0
1284                2287570.0               57981678.0
1285                8728612.0               73404851.0
1286               10545582.0               72733817.0

      tweet_sentiment_impact3  tweet_sentiment_impact4  \
0                  49073801.0              136696642.0
1                  41017312.0              127370516.0
2                  31465126.0              100024109.0
3                  32667021.0              126860768.0
4                  42822372.0              140741661.0
...                       ...                      ...
1282              443630647.0              842935848.0
1283              307309761.0              520593633.0
1284              329460461.0              476534730.0
1285              440109724.0              657819860.0
1286              592071450.0              681497291.0

      tweet_sentiment_impact5  social_score  average_sentiment  \
0                  12868795.0  2.299354e+08                3.5
1                  11893234.0  2.329465e+08                3.5
2                   7893289.0  2.108529e+08                3.5
3                   8962276.0  1.981383e+08                3.5
4                  12325373.0  2.595008e+08                3.5
...                       ...           ...                ...
1282               17099288.0  1.414324e+09                3.5
1283               10009332.0  9.268314e+08                3.5
1284                9252924.0  8.755719e+08                3.5
1285               17404481.0  1.197538e+09                3.5
1286               17851746.0  1.374771e+09                3.5

      sentiment_absolute  sentiment_relative  search_average   news  \
0                    NaN                 NaN            52.0  330.0
1                    NaN                 NaN            50.0  316.0
2                    NaN                 NaN            43.0  170.0
3                    NaN                 NaN            40.0    7.0
4                    NaN                 NaN            50.0  267.0
...                  ...                 ...             ...    ...
1282                 3.0                94.0             NaN  347.0
1283                 3.0                93.0             NaN  155.0
1284                 3.0                93.0             NaN  127.0
1285                 3.0                94.0             NaN  297.0
1286                 3.0                94.0             NaN  335.0

      price_score  social_impact_score  correlation_rank  galaxy_score  \
0             1.0                  4.0               4.0          62.5
1             5.0                  4.0               4.0          82.5
2             4.2                  4.0               4.0          78.5
3             3.7                  2.0               4.0          66.0
4             1.4                  2.0               4.0          54.5
...           ...                  ...               ...           ...
1282          1.0                  3.0               1.0          42.7
1283          1.0                  3.0               1.0          42.4
1284          1.0                  3.0               1.0          42.4
1285          1.0                  3.0               1.0          42.6
1286          1.0                  3.0               1.0          42.7

      volatility  alt_rank  alt_rank_30d  alt_rank_hour_average  \
0       0.624617       NaN           NaN                    NaN
1       0.529363       NaN           NaN                    NaN
2       0.151796       NaN           NaN                    NaN
3       0.090203       NaN           NaN                    NaN
4       0.257690       NaN           NaN                    NaN
...          ...       ...           ...                    ...
1282    0.021539      58.0          45.0                 128.04
1283    0.020725     137.0          22.0                 261.83
1284    0.014853      14.0          64.0                  46.33
1285    0.002277      40.0          25.0                 109.25
1286    0.003805      65.0          60.0                 158.58

      market_cap_rank  percent_change_24h_rank  volume_24h_rank  \
0                 NaN                      NaN              NaN
1                 NaN                      NaN              NaN
2                 NaN                      NaN              NaN
3                 NaN                      NaN              NaN
4                 NaN                      NaN              NaN
...               ...                      ...              ...
1282              1.0                   3302.0              2.0
1283              1.0                   2794.0              2.0
1284              1.0                    803.0              2.0
1285              1.0                   3118.0              2.0
1286              1.0                   3154.0              2.0

      social_volume_24h_rank  social_score_24h_rank  medium  youtube  \
0                        NaN                    NaN     NaN      NaN
1                        NaN                    NaN     NaN      NaN
2                        NaN                    NaN     NaN      NaN
3                        NaN                    NaN     NaN      NaN
4                        NaN                    NaN     NaN      NaN
...                      ...                    ...     ...      ...
1282                     2.0                    1.0     7.0    524.0
1283                     2.0                    1.0    19.0    382.0
1284                     1.0                    1.0     5.0    371.0
1285                     2.0                    1.0     9.0    469.0
1286                     1.0                    1.0    12.0    474.0

      social_contributors  influential_content  influential_content_score  \
0                 14178.0                  NaN                        NaN
1                 12955.0                  NaN                        NaN
2                 11277.0                  NaN                        NaN
3                  9597.0                  NaN                        NaN
4                 11568.0                  NaN                        NaN
...                   ...                  ...                        ...
1282             199198.0               1509.0                  1176499.0
1283             155477.0                809.0                   629808.0
1284             162513.0                888.0                   702934.0
1285             231981.0               1359.0                  1115135.0
1286             207784.0               1318.0                  1062812.0

            sma_50       sma_100       sma_200  social_volume  \
0     10524.912498  10072.925364   7489.222465        37547.0
1     10489.702736  10092.106435   7518.971180        35423.0
2     10445.996280  10109.594606   7548.856856        29815.0
3     10413.308099  10127.300594   7579.486355        32691.0
4     10415.122150  10150.242763   7613.135754        38936.0
...            ...           ...           ...            ...
1282  22872.902606  19910.969924  19732.804155       339182.0
1283  22921.778114  19968.458775  19725.154453       274898.0
1284  22950.962403  20027.595507  19720.652033       275686.0
1285  22981.941569  20087.250271  19716.737125       370069.0
1286  23002.944295  20145.001693  19723.448202       355320.0

      market_cap_global  market_dominance  social_volume_global  \
0          2.455443e+11         69.345902              111697.0
1          2.486567e+11         69.119069              108047.0
2          2.488274e+11         69.313417               87587.0
3          2.511694e+11         69.581853               91851.0
4          2.642592e+11         70.133082              105847.0
...                 ...               ...                   ...
1282       1.070204e+12         40.344213             2570959.0
1283       1.028053e+12         41.982981             2630450.0
1284       1.022768e+12         42.357236             2241463.0
1285       1.024951e+12         42.257871             2278351.0
1286       1.024529e+12         41.881735             2244864.0

      social_dominance  Day of Month  month  Daily % Change  \
0            33.615048            29      8             NaN
1            32.784807            30      8        0.925039
2            34.040440            31      8        0.338504
3            35.591338             1      9        1.321887
4            36.785171             2      9        6.033944
...                ...           ...    ...             ...
1282         13.192820             3      3       -4.740214
1283         10.450607             4      3       -0.041718
1284         12.299378             5      3        0.367570
1285         16.242844             6      3       -0.025659
1286         15.828130             7      3       -0.936205

                           Date  S&P 500 Daily Performance  \
0     2019-08-29 00:00:00-04:00                   0.488253
1     2019-08-30 00:00:00-04:00                  -0.361927
2     2019-08-31 00:00:00-04:00                        NaN
3     2019-09-01 00:00:00-04:00                        NaN
4     2019-09-02 00:00:00-04:00                        NaN
...                         ...                        ...
1282  2023-03-03 00:00:00-05:00                   1.191086
1283  2023-03-04 00:00:00-05:00                        NaN
1284  2023-03-05 00:00:00-05:00                        NaN
1285  2023-03-06 00:00:00-05:00                  -0.165961
1286  2023-03-07 00:00:00-05:00                  -1.528802

      NASDAQ 100 Daily Performance  1-Year Treasury Bond Rate  \
0                         0.307606                      1.940
1                        -0.674524                      1.933
2                              NaN                      1.933
3                              NaN                      1.933
4                              NaN                      1.933
...                            ...                        ...
1282                      1.487110                      4.718
1283                           NaN                      4.718
1284                           NaN                      4.718
1285                     -0.341605                      4.728
1286                     -1.227491                      4.845

      5-Year Treasury Bond Rate  10-Year Treasury Bond Rate  \
0                         1.516                       1.516
1                         1.506                       1.506
2                         1.506                       1.506
3                         1.506                       1.506
4                         1.506                       1.506
...                         ...                         ...
1282                      3.964                       3.964
1283                      3.964                       3.964
1284                      3.964                       3.964
1285                      3.983                       3.983
1286                      3.975                       3.975

      30-Year Treasury Bond Rate  Bitcoin Futures Volume  \
0                          1.516                  4154.0
1                          1.506                  2856.0
2                          1.506                     NaN
3                          1.506                     NaN
4                          1.506                     NaN
...                          ...                     ...
1282                       3.964                 12038.0
1283                       3.964                     NaN
1284                       3.964                     NaN
1285                       3.983                  4800.0
1286                       3.975                  6742.0

      Bitcoin Futures Returns
0                   -1.959773
1                    0.883789
2                         NaN
3                         NaN
4                         NaN
...                       ...
1282                -5.263158
1283                      NaN
1284                      NaN
1285                -0.289468
1286                -1.714540

[1287 rows x 77 columns]

In [47]:
#Dropping some unnecessary columns
merged_df.drop(columns=['time', 'volume', 'tweet_followers', 'tweet_quotes', 'tweet_retweets', 'tweet_replies', 'sentiment_absolute', 'sentiment_relative', 'tweet_favorites', 'search_average', 'volume', 'reddit_posts', 'reddit_posts_score', 'reddit_comments', 'reddit_comments_score', 'alt_rank', 'alt_rank_30d', 'alt_rank_hour_average', 'market_cap_rank', 'percent_change_24h_rank', 'volume_24h_rank', 'social_volume_24h_rank', 'social_score_24h_rank', 'medium', 'youtube', 'influential_content', 'influential_content_score', 'Date'], inplace=True)

In [49]:
merged_df.to_csv('./data/YfLunar_merged_df.csv', index=False)

**Getting data about bitcoin mining from Nasdaq/Quandle**

In [4]:
# Set the Quandl API key
quandl.ApiConfig.api_key = 'j1bxx9Kr2WVUiCkTus-u'

# Define the data products and time range
data_products = ['BCHAIN/AVBLS', 'BCHAIN/HRATE', 'BCHAIN/CPTRA', 'BCHAIN/DIFF']
start_date = '2019-08-28'
end_date = '2023-03-08'

# Retrieve the data for each data product and concatenate into a single dataframe
dfs = []
for product in data_products:
    df = quandl.get(product, start_date=start_date, end_date=end_date)
    df.columns = [product.split('/')[1]] # Rename the column to the data product code
    dfs.append(df)
df = pd.concat(dfs, axis=1)

# Convert the index to a datetime object and sort the dataframe by date
df.index = pd.to_datetime(df.index)
df = df.sort_index()

# Print the resulting dataframe
print(df)

               AVBLS         HRATE      CPTRA          DIFF
Date
2019-08-28  1.038467  7.643982e+07  56.521522  1.018349e+13
2019-08-29  0.995517  8.352695e+07  57.337225  1.018349e+13
2019-08-30  1.005411  8.099583e+07  55.423721  1.018349e+13
2019-08-31  0.874326  8.403318e+07  58.942276  1.018349e+13
2019-09-01  0.885620  7.595912e+07  60.905440  1.068557e+13
...              ...           ...        ...           ...
2023-03-04  2.145610  3.253132e+08  71.259805  4.305384e+13
2023-03-05  1.933651  3.317338e+08  77.165487  4.305384e+13
2023-03-06  1.809957  2.825088e+08  60.900910  4.305384e+13
2023-03-07  2.018769  3.531360e+08  65.223410  4.305384e+13
2023-03-08  1.980563  2.846490e+08  64.716008  4.305384e+13

[1289 rows x 4 columns]

In [6]:
df.to_csv('./data/mining_data.csv', index=True)

**Getting data about 2 other cryptocurrencies**

In [2]:
#Getting additional data from Yfinance

assets = ['ETH-USD', 'DOGE-USD']
start_date = '2019-08-28'
end_date = '2023-03-08'

dfs = []
for asset in assets:
    df = yf.download(asset, start=start_date, end=end_date, progress=False)
    df = df['Close'].rename(asset.replace('^', '').replace('-', '_'))
    dfs.append(df)
    
df_final = pd.concat(dfs, axis=1)
print(df_final.head())

                              ETH_USD  DOGE_USD
Date
2019-08-28 00:00:00+00:00  173.889969  0.002524
2019-08-29 00:00:00+00:00  169.516739  0.002450
2019-08-30 00:00:00+00:00  168.834869  0.002482
2019-08-31 00:00:00+00:00  172.469788  0.002511
2019-09-01 00:00:00+00:00  171.629425  0.002492

In [5]:
df_final.to_csv('./data/ETHDOGE.csv', index=True)

**Getting data about economic/finacial indices**

In [53]:
#Function to fill in the missing dates (eg weekends/holidays)

def fill_missing_values(df_name, start_date, end_date):
    # create a DatetimeIndex with every day from start date to end date
    idx = pd.date_range(start=start_date, end=end_date, freq='D')

    # create a DataFrame with the DatetimeIndex
    df = pd.DataFrame(index=idx)
    
    df_name.index = pd.DatetimeIndex(df_name.index).tz_localize(None)

    # merge the original DataFrame with the one with the DatetimeIndex
    df = df.merge(df_name, how='left', left_index=True, right_index=True)

    # fill missing values with previous day's values
    df.fillna(method='ffill', inplace=True)

    return df

In [54]:
#Function to clean and reformat the dataframes

def clean_data(data, ticker_name):
    # select only 'Open' and 'Close' columns
    data = data[['Open', 'Close']].copy()

    # rename columns with ticker symbol
    data.columns = [f"{ticker_name} {col}" for col in data.columns]

    # set index as a datetime object
    data.index = pd.to_datetime(data.index)

    # drop columns before 2019-08-29 and after 2023-03-08
    data = data.loc['2019-08-29':'2023-03-08']

    return data

In [55]:
#Retrieving data about indices from Yfinance

# Define dictionary of ticker_name : ticker
tickers = {'Nikkei 225': '^N225',
           'S&P 500': '^GSPC',
           'US Dollar Index': 'DX-Y.NYB',
           'Dow Jones Industrial Average': '^DJI',
           'Crude Oil': 'CL=F',
           'NASDAQ Composite': '^IXIC'}

# Retrieve and clean data for each ticker
dfs = []
for ticker_name, ticker in tickers.items():
    # Retrieve data
    data = yf.Ticker(ticker).history(period='5y', interval='1d')

    # Clean data
    data = clean_data(data, ticker_name)

    # Fill missing values
    data = fill_missing_values(data, '2019-08-29', '2023-03-08')

    # Append to list of data frames
    dfs.append(data)

In [58]:
indices_data = pd.concat(dfs, axis=1)

In [59]:
indices_data.to_csv('./data/indices_data.csv', index=True)

**Loading all the data from CSV files and then merging into a master dataframe**

In [47]:
indices_df = pd.read_csv('./data/indices_data.csv')

In [48]:
YfLunar_merged_df = pd.read_csv('./data/YfLunar_merged_df.csv')

In [49]:
mining_df = pd.read_csv('./data/mining_data.csv')

In [50]:
ETHDOGE_df = pd.read_csv('./data/ETHDOGE.csv')

In [51]:
allmerged_df = pd.concat([YfLunar_merged_df, ETHDOGE_df, indices_df, mining_df, ], axis=1)

In [52]:
allmerged_df

,date,open,close,high,low,volume_24h,market_cap,circulating_supply,url_shares,unique_url_shares,...,Dow Jones Industrial Average Close,Crude Oil Open,Crude Oil Close,NASDAQ Composite Open,NASDAQ Composite Close,Date,AVBLS,HRATE,CPTRA,DIFF
0,2019-08-29,9756.785707,9510.200544,9756.785707,9421.630160,1.704588e+10,1.702749e+11,17902412.0,80.0,80.0,...,26362.250000,55.880001,56.709999,7945.779785,7973.390137,2019-08-28,1.038467,7.643982e+07,56.521522,1.018349e+13
1,2019-08-30,9514.844852,9598.173648,9656.123926,9428.302397,1.359526e+10,1.718692e+11,17904475.0,68.0,68.0,...,26403.279297,56.630001,55.099998,8015.160156,7962.879883,2019-08-29,0.995517,8.352695e+07,57.337225,1.018349e+13
2,2019-08-31,9597.539448,9630.663848,9673.220440,9531.799839,1.145481e+10,1.724707e+11,17906475.0,56.0,56.0,...,26403.279297,56.630001,55.099998,8015.160156,7962.879883,2019-08-30,1.005411,8.099583e+07,55.423721,1.018349e+13
3,2019-09-01,9630.593196,9757.970318,9796.755968,9582.944631,1.144536e+10,1.747683e+11,17908500.0,56.0,56.0,...,26403.279297,56.630001,55.099998,8015.160156,7962.879883,2019-08-31,0.874326,8.403318e+07,58.942276,1.018349e+13
4,2019-09-02,9757.473237,10346.760793,10396.591325,9730.650717,1.724810e+10,1.853331e+11,17910337.0,87.0,87.0,...,26403.279297,56.630001,55.099998,8015.160156,7962.879883,2019-09-01,0.885620,7.595912e+07,60.905440,1.068557e+13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1284,2023-03-05,22354.143598,22435.514197,22613.685231,22307.143313,1.331700e+10,4.332162e+11,19309437.0,41091.0,4141.0,...,33390.968750,77.889999,79.680000,11524.650391,11689.009766,2023-03-04,2.145610,3.253132e+08,71.259805,4.305384e+13
1285,2023-03-06,22436.816776,22429.757533,22584.293809,22331.314828,1.735319e+10,4.331225e+11,19310231.0,54697.0,6679.0,...,33431.441406,79.919998,80.459999,11736.870117,11675.740234,2023-03-05,1.933651,3.317338e+08,77.165487,4.305384e+13
1286,2023-03-07,22428.322390,22219.769071,22527.418642,22011.262497,2.276545e+10,4.290907e+11,19311281.0,59540.0,6450.0,...,32856.460938,80.500000,77.580002,11670.980469,11530.330078,2023-03-06,1.809957,2.825088e+08,60.900910,4.305384e+13
1287,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,32798.398438,77.320000,76.660004,11553.089844,11576.000000,2023-03-07,2.018769,3.531360e+08,65.223410,4.305384e+13
1288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2023-03-08,1.980563,2.846490e+08,64.716008,4.305384e+13

**Cleaning the master dataframe**

In [53]:
# Drop the excess date columns
allmerged_df = allmerged_df.drop(['Unnamed: 0', 'Date', 'Date'], axis=1)

# Drop the last two rows
allmerged_df = allmerged_df.iloc[:-2]

In [54]:
#Creating a close+1 column which will be my Time target variable 
allmerged_df['close+1'] = allmerged_df['close'].shift(-1)

In [55]:
#Replacing weekend values (currenty NaN) with 0s
allmerged_df[['NASDAQ 100 Daily Performance', 'S&P 500 Daily Performance', 'Bitcoin Futures Volume', 'Bitcoin Futures Returns']] = allmerged_df[['NASDAQ 100 Daily Performance', 'S&P 500 Daily Performance', 'Bitcoin Futures Volume', 'Bitcoin Futures Returns']].fillna(0)

In [22]:
# #Exporting to CSV
# allmerged_df.to_csv('./data/data_complete.csv', index=False)

In [56]:
allmerged_df

,date,open,close,high,low,volume_24h,market_cap,circulating_supply,url_shares,unique_url_shares,...,Dow Jones Industrial Average Close,Crude Oil Open,Crude Oil Close,NASDAQ Composite Open,NASDAQ Composite Close,AVBLS,HRATE,CPTRA,DIFF,close+1
0,2019-08-29,9756.785707,9510.200544,9756.785707,9421.630160,1.704588e+10,1.702749e+11,17902412.0,80.0,80.0,...,26362.250000,55.880001,56.709999,7945.779785,7973.390137,1.038467,7.643982e+07,56.521522,1.018349e+13,9598.173648
1,2019-08-30,9514.844852,9598.173648,9656.123926,9428.302397,1.359526e+10,1.718692e+11,17904475.0,68.0,68.0,...,26403.279297,56.630001,55.099998,8015.160156,7962.879883,0.995517,8.352695e+07,57.337225,1.018349e+13,9630.663848
2,2019-08-31,9597.539448,9630.663848,9673.220440,9531.799839,1.145481e+10,1.724707e+11,17906475.0,56.0,56.0,...,26403.279297,56.630001,55.099998,8015.160156,7962.879883,1.005411,8.099583e+07,55.423721,1.018349e+13,9757.970318
3,2019-09-01,9630.593196,9757.970318,9796.755968,9582.944631,1.144536e+10,1.747683e+11,17908500.0,56.0,56.0,...,26403.279297,56.630001,55.099998,8015.160156,7962.879883,0.874326,8.403318e+07,58.942276,1.018349e+13,10346.760793
4,2019-09-02,9757.473237,10346.760793,10396.591325,9730.650717,1.724810e+10,1.853331e+11,17910337.0,87.0,87.0,...,26403.279297,56.630001,55.099998,8015.160156,7962.879883,0.885620,7.595912e+07,60.905440,1.068557e+13,10623.540117
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1282,2023-03-03,23476.633731,22362.679332,23479.348094,22213.237594,2.606240e+10,4.317655e+11,19307468.0,66522.0,6521.0,...,33390.968750,77.889999,79.680000,11524.650391,11689.009766,2.024497,3.081914e+08,65.619552,4.305384e+13,22353.350074
1283,2023-03-04,22362.923027,22353.350074,22405.176954,22198.981009,1.116601e+10,4.316073e+11,19308443.0,52255.0,4509.0,...,33390.968750,77.889999,79.680000,11524.650391,11689.009766,2.004601,3.595567e+08,68.126021,4.305384e+13,22435.514197
1284,2023-03-05,22354.143598,22435.514197,22613.685231,22307.143313,1.331700e+10,4.332162e+11,19309437.0,41091.0,4141.0,...,33390.968750,77.889999,79.680000,11524.650391,11689.009766,2.145610,3.253132e+08,71.259805,4.305384e+13,22429.757533
1285,2023-03-06,22436.816776,22429.757533,22584.293809,22331.314828,1.735319e+10,4.331225e+11,19310231.0,54697.0,6679.0,...,33431.441406,79.919998,80.459999,11736.870117,11675.740234,1.933651,3.317338e+08,77.165487,4.305384e+13,22219.769071
1286,2023-03-07,22428.322390,22219.769071,22527.418642,22011.262497,2.276545e+10,4.290907e+11,19311281.0,59540.0,6450.0,...,32856.460938,80.500000,77.580002,11670.980469,11530.330078,1.809957,2.825088e+08,60.900910,4.305384e+13,NaN

**Final check**

In [57]:
#Checking for NaN values
allmerged_df.isna().sum()

date       0
open       0
close      0
high       0
low        0
          ..
AVBLS      0
HRATE      0
CPTRA      0
DIFF       0
close+1    1
Length: 69, dtype: int64

In [58]:
# create a boolean mask of NaN values
mask = allmerged_df.isna().any(axis=1)

In [60]:
allmerged_df[mask]

,date,open,close,high,low,volume_24h,market_cap,circulating_supply,url_shares,unique_url_shares,...,Dow Jones Industrial Average Close,Crude Oil Open,Crude Oil Close,NASDAQ Composite Open,NASDAQ Composite Close,AVBLS,HRATE,CPTRA,DIFF,close+1
0,2019-08-29,9756.785707,9510.200544,9756.785707,9421.630160,1.704588e+10,1.702749e+11,17902412.0,80.0,80.0,...,26362.250000,55.880001,56.709999,7945.779785,7973.390137,1.038467,7.643982e+07,56.521522,1.018349e+13,9598.173648
1286,2023-03-07,22428.322390,22219.769071,22527.418642,22011.262497,2.276545e+10,4.290907e+11,19311281.0,59540.0,6450.0,...,32856.460938,80.500000,77.580002,11670.980469,11530.330078,1.809957,2.825088e+08,60.900910,4.305384e+13,NaN

In [61]:
# drop the first row of data
allmerged_df = allmerged_df.drop(index=0)

# Drop the last row
allmerged_df = allmerged_df.iloc[:-2]

In [65]:
#Moving close+1 next to the close column
allmerged_df.insert(3, "close+1", allmerged_df.pop("close+1"))

In [67]:
#Final check of dataframe
allmerged_df

,date,open,close,close+1,high,low,volume_24h,market_cap,circulating_supply,url_shares,...,Dow Jones Industrial Average Open,Dow Jones Industrial Average Close,Crude Oil Open,Crude Oil Close,NASDAQ Composite Open,NASDAQ Composite Close,AVBLS,HRATE,CPTRA,DIFF
1,2019-08-30,9514.844852,9598.173648,9630.663848,9656.123926,9428.302397,1.359526e+10,1.718692e+11,17904475.0,68.0,...,26476.390625,26403.279297,56.630001,55.099998,8015.160156,7962.879883,0.995517,8.352695e+07,57.337225,1.018349e+13
2,2019-08-31,9597.539448,9630.663848,9757.970318,9673.220440,9531.799839,1.145481e+10,1.724707e+11,17906475.0,56.0,...,26476.390625,26403.279297,56.630001,55.099998,8015.160156,7962.879883,1.005411,8.099583e+07,55.423721,1.018349e+13
3,2019-09-01,9630.593196,9757.970318,10346.760793,9796.755968,9582.944631,1.144536e+10,1.747683e+11,17908500.0,56.0,...,26476.390625,26403.279297,56.630001,55.099998,8015.160156,7962.879883,0.874326,8.403318e+07,58.942276,1.018349e+13
4,2019-09-02,9757.473237,10346.760793,10623.540117,10396.591325,9730.650717,1.724810e+10,1.853331e+11,17910337.0,87.0,...,26476.390625,26403.279297,56.630001,55.099998,8015.160156,7962.879883,0.885620,7.595912e+07,60.905440,1.068557e+13
5,2019-09-03,10345.725140,10623.540117,10594.493354,10736.104721,10308.547881,1.938492e+10,1.903125e+11,17912212.0,74.0,...,26198.259766,26118.019531,55.000000,53.939999,7906.439941,7874.160156,1.055764,7.978635e+07,57.761298,1.077200e+13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1280,2023-03-01,23150.929958,23646.549899,23475.466738,23880.632463,23088.626700,2.466284e+10,4.565082e+11,19305543.0,56979.0,...,32656.369141,32661.839844,76.849998,77.690002,11447.580078,11379.480469,1.856716,2.932099e+08,62.073956,4.305384e+13
1281,2023-03-02,23647.019473,23475.466738,22362.679332,23739.138077,23245.021433,2.038640e+10,4.532266e+11,19306450.0,63732.0,...,32780.968750,33003.570312,77.739998,78.160004,11273.769531,11462.980469,2.110521,3.638371e+08,67.453943,4.305384e+13
1282,2023-03-03,23476.633731,22362.679332,22353.350074,23479.348094,22213.237594,2.606240e+10,4.317655e+11,19307468.0,66522.0,...,33076.328125,33390.968750,77.889999,79.680000,11524.650391,11689.009766,2.024497,3.081914e+08,65.619552,4.305384e+13
1283,2023-03-04,22362.923027,22353.350074,22435.514197,22405.176954,22198.981009,1.116601e+10,4.316073e+11,19308443.0,52255.0,...,33076.328125,33390.968750,77.889999,79.680000,11524.650391,11689.009766,2.004601,3.595567e+08,68.126021,4.305384e+13
1284,2023-03-05,22354.143598,22435.514197,22429.757533,22613.685231,22307.143313,1.331700e+10,4.332162e+11,19309437.0,41091.0,...,33076.328125,33390.968750,77.889999,79.680000,11524.650391,11689.009766,2.145610,3.253132e+08,71.259805,4.305384e+13

In [68]:
#Exporting to CSV
allmerged_df.to_csv('./data/data_complete_final.csv', index=False)

**Data is prepared. Ready to move on to prediction**